<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>本地页面</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="local.css" />
    </head>

    <body>
        <p>我是一个本地页面</p>
        <p>需要注意的是，同一个目录下不能存在与 nml 同名的 js 文件。</p>
        <div class="button-row">
            <button type="button">click me</button>
        </div>
        <script src="local.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>
